@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: black;
}
.main {
  background-image: url("assets/images/bgimage.jpg");
  height: 100vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1300px , 100vw);
}

.main .box{
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  max-width: 60vw;
  margin: auto;
  height: 60px  ;
}

nav img{
  width: 140px;
  position: relative;
  z-index: 10;
}

nav button{
  position: relative;
  z-index: 10;
}

.baner-content {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  gap: 23px;
  padding: 0 30px;
}

.baner-content> :first-child {
  font-weight: 900;
  font-size: 48px;
  text-align: center;

}

.baner-content > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;

}

.baner-content :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;

}

.seperation {
  height: 7px;
  background-color: #414040;
}

.btn {
  padding: 4px 20px;
  border-radius: 6px;

}

button.btn.banner-btn {
  padding: 12px 45px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.btn-red{
  padding: 4px 20px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-color: red;
  margin: 30px;
}

.newsletter{
  display: flex;
}

.main input{
  padding: 15px;
    border-radius: 6px;
    margin-right: 10px;
    text-align: left;
    width: 250px;
}